.signIn-section{
    width: 100%;
    height: 100vh;
    min-height: 650px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FF;
}
.signIn-section .signIn-container {
    width: 70%;
    max-width: 1200px;
    height: 90%;
    max-height: 800px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.signIn-section .signIn-container .signIn-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.signIn-section .signIn-container .signIn-box .signIn-content{
    width: 40%;
    min-width: 300px;
    height: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 7px;
    background-color: antiquewhite;
    
}

.signIn-section .signIn-container .signIn-box .signIn-content form{
   background-color: lemonchiffon;
   height: 100%;
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;

}

.signIn-section .signIn-container .signIn-box .signIn-content .welcomeBanner h1{
    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: 700;
}
.signIn-section .signIn-container .signIn-box .signIn-content .welcomeBanner p{
    font-size: 0.9rem;
    font-family: "Lustria";
}

.signIn-section .signIn-container .signIn-box .signIn-content .signIn-formData{
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    
}

.signIn-section .signIn-container .signIn-box .signIn-content .seprator {
    display: flex;
    align-items: center; 
    text-align: center;
    color: #666;
}

.signIn-section .signIn-container .signIn-box .signIn-content .seprator hr{
    flex: 1; 
    border: none;
    border-top: 1px solid #ccc; 
    margin: 0 10px;
}

.signIn-section .signIn-container .signIn-box .signIn-content .signIn-actions{
    background-color: bisque;
    width: 100%;
}

.signIn-section .signIn-container .signIn-box .signIn-content .signIn-actions .signIn-btns{
    width: 90%;   
   justify-self: center;

}

.signIn-section .signIn-container .signIn-box .signIn-content gAuth .primary-btn .g-logo{
    margin-left: 15px;
    
}

.signIn-section .signIn-container .signIn-box .signIn-content .signUp-cta {
    font-size: 0.8rem;
    font-family: "Lustria";
    text-decoration: none;
    margin: auto;
    display: block;
   justify-self: center;
}

.signIn-section .signIn-container .signIn-box .signIn-abstract{
    width: 45%;
    height: 98%;
    background-image: url(../../assets/abstracts/loginAbstract.svg);
    margin: auto;background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   

}