.login-section{
    width: 100%;
    height: 100vh;
    min-height: 650px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FF;
}

.login-section .login-container {
    width: 70%;
     max-width: 1200px;
     max-height: 800px;
    height: 90%;
     background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-section .login-container .login-abstract{
    width: 45%;
    height: 98%;
    background-image: url(../../assets/abstracts/loginAbstract.svg);
    margin: auto;background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.login-section .login-container .login-content{
    width: 40%;
    min-width: 300px;
    height: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 7px;
    
}

.login-section .login-container .login-content .welcomeBanner h1{
    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: 700;
}
.login-section .login-container .login-content .welcomeBanner p{
    font-size: 0.9rem;
    font-family: "Lustria";
}

.login-section .login-container .login-content .loginInput-userName{
    width: 80%;
    align-self: center;
    
    margin: 15px;
   
}

.login-section .login-container .login-content .loginInput-password{
    width: 80%;
    align-self: center;
    
    margin: 15px;
   
}


.login-section .login-container .login-content .forgotPassword{
    font-size: 0.8rem;
    font-family: "Lustria";
    text-decoration: none;
    align-self: flex-end;
    margin-right: 1rem;
}



.login-section .login-container .login-content .seprator hr {
    flex: 1; 
    border: none;
    border-top: 1px solid #ccc; 
    margin: 0 10px;
}
.login-section .login-container .login-content .gAuth .primary-btn{
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
.login-section .login-container .login-content .gAuth .primary-btn .g-logo{
    margin-left: 15px;
    
}
.login-section .login-container .login-content .signUp-cta {
    font-size: 0.8rem;
    font-family: "Lustria";
    text-decoration: none;
    align-self: center;
}