.categorizedOption-section {
    height: 50vh;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorizedOption-section .categorizedOption-box{
    width: 100%;
    height: 60%;
    max-height: 180px;
    display: flex;
    justify-content: space-evenly;
}

.categorizedOption-section .categorizedOption-box .option{
    width: 32%;
    border-radius: 15px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categorizedOption-section .categorizedOption-box .option .optionCard{
    
    height: 90%;
    width: 98%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.categorizedOption-box .option .optionCard .context{
    width: 60%;

}

.categorizedOption-box .option .optionCard .abstract{
    width: 38%;
    max-width: 140px;
    border: 1px solid rebeccapurple;
    height: 98%;
    max-height: 140px;
    opacity: 0.85;
}


.categorizedOption-box .option .optionCard .context p{
    font-size: 0.8rem;
    font-family: "Lustria";
    color: rgb(45, 45, 45);
    margin-top: 15px;
}


.categorizedOption-box .option .optionCard .context h4{
    font-size: 1rem;
    font-family: "Lato";
}
