.categorizedOption-section {
    height: 70vh;
    max-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 10px;
}

.categorizedOption-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.categorizedOption-container .categorizedOption-header h4{
    font-family: "Lato";
    font-weight: 600;
    font-size: 1.3rem;  
    margin-left: 5px;  
} 
.categorizedOption-section .categorizedOption-box{
    width: 100%;
    height: 260px;
    max-height: 240px;
    display: flex;
    justify-content: space-evenly;

}

.categorizedOption-section .categorizedOption-box .option{
    width: 32%;
    border-radius: 15px;
    background-color: var(--thin-light-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.categorizedOption-section .categorizedOption-box .option .optionCard{
    
    height: 90%;
    width: 98%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.categorizedOption-box .option .optionCard .context{
    width: 60%;

}

.categorizedOption-box .option .optionCard .abstract{
    width: 38%;
    max-width: 140px;
    height: 98%;
    max-height: 140px;
    opacity: 0.85;
}

.categorizedOption-box .option .optionCard .abs1{
    background-image: url("../../../assets/abstracts/behavirouralAbstract.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.categorizedOption-box .option .optionCard .abs2{
    background-image: url("../../../assets/abstracts/codingAbstract.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.categorizedOption-box .option .optionCard .abs3{
    background-image: url("../../../assets/abstracts/technicalAbstract.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}



.categorizedOption-box .option .optionCard .context p{
    font-size: 0.9rem;
    font-family: "Funnel Sans";
    font-weight: 400;
    color: rgb(45, 45, 45);
    margin-top: 15px;
}


.categorizedOption-box .option .optionCard .context h4{
    font-size: 1.1rem;
    font-family: "Lato";
    font-weight: 600;
}
