.motto-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
}


.Motto-content {
    position: relative;
    left: 5rem;
    font-family: "Lato";
    
    line-height: 1.5rem;
    padding: 2rem;
    text-align: left;
    width: 500px;
    max-width: 45%;
}
.Motto-content .text p{
    margin: 0.9rem;
}
.motto-section .rightAbstract{
   height: 400px;
    width: 260px;
    background-image: url(../../../assets/abstracts/motoRightAbstract.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    right: -2rem;
    top: -2.5rem;
}
