.userDashboardHero-section{
    width: 100%;
    height: 55vh;
    max-height: 500px;
    min-height: 400px;
}

.userDashboardHero-section .userDashboardHero-container{
    display: flex;
     height: 90%;

}

.userDashboardHero-section .userDashboardHero-container .userDashboardHero-content{

    width: 45%;

}

.userDashboardHero-section .userDashboardHero-container .userDashboardHero-stats{
    width: 47%;
    height: max-content;
    margin: auto;
   
}
.userDashboardHero-section .userDashboardHero-container .userDashboardHero-stats .stats-grid{
    display: grid;
    grid-template-rows: 2fr 0.7fr;
    gap: 1rem;
    width: 100%;
}

.userDashboardHero-stats .stats-grid .row1{
    display: grid;
    grid-template-columns: 0.9fr 1fr 1.1fr;
}

.userDashboardHero-stats .stats-grid .row1 .userStatsOne-section{
    border-radius: 0.5rem;
    margin: 10px;
    height: 130px;
}

.userDashboardHero-stats .stats-grid .row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    align-items: center;
    
}
.userDashboardHero-stats .stats-grid .row2 .r2-col1 .streakBox{
    display: flex;
    height: 2rem;
    width: 250px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
}

.userDashboardHero-stats .stats-grid .row2 .r2-col2 .actionBox{
    display: flex;
    background-color: whitesmoke;
    height: 2rem;
    width: 250px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;

}






