.userDashboardHero-section{
    width: 99%;
    height: 70vh;
    max-height: 700px;
    min-height: 400px;
  display: flex;
  flex-direction: column;
justify-content: end;
}

.userDashboardHero-section .userDashboardHero-container{
    display: flex;
     height: 90%;
  

}

.userDashboardHero-section .userDashboardHero-container .userDashboardHero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: max-content;
    margin: auto;


}

.userDashboardHero-section .userDashboardHero-container .userDashboardHero-content .context h4{
    font-family: "Lustria";
    font-size: 2rem;
}

.userDashboardHero-section .userDashboardHero-container .userDashboardHero-content .context .primary-btn{
    margin-top: 3em;
    margin-left: 0px;
}


.userDashboardHero-content .context h4 span{
    color: var(--primary-color);
}

.userDashboardHero-content .context p{
    margin-top: 1rem;
    width: 450px;
    font-family: "Funnel Sans";
}


.userDashboardHero-section .userDashboardHero-container .userDashboardHero-stats{
    width: 47%;
    height: max-content;
    margin: auto;
    font-family: "Funnel Sans";
   
}
.userDashboardHero-section .userDashboardHero-container .userDashboardHero-stats .stats-grid{
    display: grid;
    grid-template-rows: 2fr 0.7fr;
    gap: 1rem;
    width: 100%;
}

.userDashboardHero-stats .stats-grid .row1{
    display: grid;
    grid-template-columns: 0.9fr 1fr 1.1fr;
}

.userDashboardHero-stats .stats-grid .row1 .userStatsOne-section{
    border-radius: 0.5rem;
    margin: 10px;
    height: 130px;
}

.userDashboardHero-stats .stats-grid .row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    align-items: center;
    
}
.userDashboardHero-stats .stats-grid .row2 .r2-col1 .streakBox{
    display: flex;
    height: 2rem;
    width: 250px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    background-color: var(--thin-light-background-color);
    color: var(--primary-color);
}
.userDashboardHero-stats .stats-grid .row2 .r2-col1 .streakIcon{
    color: var(--secondary-color);
}
.userDashboardHero-stats .stats-grid .row2 .r2-col2 .actionBox{
    display: flex;
    background-color: var(--thin-light-background-color);
    height: 2rem;
    width: 250px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    color: var(--primary-color);

}






