.recentInterview-section {
  margin: 2rem 0px;
  padding: 1rem;
  height: 60vh;
  max-height: 450px;
}

.recentInterview-section .recentInterview-box {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}


.recentInterview-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.recentInterview-section .heading h4 {
  margin: 0;
  font-family: "Lato";
  font-size: 1.3rem;
  font-weight: 600;
}

.recentInterview-section .headerCta a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Lato";

}


.recentInterview-section .interviewCards-container {
  width: 100%;

}

.recentInterview-section .interviewCards-container .box {
  display: flex;
  flex-wrap: wrap;
}


.recentInterviewCard-section {
  width: 100%;
  height: 100%;
}
