.recentInterview-section {
 
  margin: auto;
  padding: 1rem;
}

.recentInterview-section .recentInterview-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.recentInterview-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.recentInterview-section .heading h4 {
  margin: 0;
}

.recentInterview-section .headerCta a {
  text-decoration: none;
  font-size: 0.9rem;
}


.recentInterview-section .interviewCards-container {
  width: 100%;
}

.recentInterview-section .interviewCards-container .box {
  display: flex;
  flex-wrap: wrap;
}


.recentInterviewCard-section {
  width: 100%;
  height: 100%;
}
