nav{
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid rebeccapurple; */
    justify-content: space-between;
    padding: 0px;
    max-height: 50px;
    height: 70px;
    color: white;
    font-family: "Lustria";
}

.nav-links {
     
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
   /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    object-fit: contain;
}

nav ul {
   
    display: flex;    
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    
    color: rebeccapurple;
    text-decoration: none;
}