*{
    margin: 0px;
    padding: 0px;
}
.footer-section{
   background-image: url("../../../assets/footerAbstract.png");
   background-repeat: no-repeat;
   background-size: cover;
    height: 100vh;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contextContainer{
    margin-top: 5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 50%;
   color: white;
}