.skillBased-section{
    width: 99%;
    height: 90vh;
    max-height: 400px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillBased-section .container{
    width: 97%;
    height: 93%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.skillBased-section .container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    font-family: "Lato";
}
.skillBased-section .container .header h4{
    font-weight: 600;
    font-size: 1.3rem;
}

.skillBased-section .container .skill-grid{
    margin: 30px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
}
.skillBased-section .container .skill-grid .knowMore .skillCard-section .box img{
    opacity: 0.6;
}

