.recommendedInterview-section{
    width: 99%;
    height: 90vh;
    max-height: 500px;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0px;
}

.recommendedInterview-section .recommendedInterview-box {
    width: 97%;
    height: 93%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recommendedInterview-section .recommendedInterview-box .header {
    display: flex;
    justify-content: space-between;
    font-family: "Lato";
    font-size: 1.3rem;
    align-items: center;
    height: 10%;
    margin-bottom: 2rem;
    /* border: 1px solid saddlebrown; */
}

.recommendedInterview-section .recommendedInterview-box .header h4{
    font-weight: 600;
}

.recommendedInterview-section .recommendedInterview-box .interviewCards-container {
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center ;
    
}

.recommendedInterview-section 
.recommendedInterview-box 
.interviewCards-container 
.box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    align-items: stretch;
}

/* Small laptop screens (1366px and below) */
@media (max-width: 1366px) {
  .recommendedInterview-section 
.recommendedInterview-box 
.interviewCards-container 
.box > :nth-child(n+3) {
    display: none;
  }
}