.processSection{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 0.3rem;
    height: 80vh;
    max-height: 900px;
    min-height: 600px;
    justify-content: space-evenly;
}

.processSection .header{
    width: 40%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.processSection .header h2{
    text-align: center;
    font-family: "Lato";
    font-weight: 800;
    font-size: 35px;
    color: #2D274B;
    border-bottom: 3px solid #2D274B;
    
}

.processSection .header h4{
    font-family: "Lustria";
    font-size: 35px;
    color: #9787F3;
    border-top: 3px solid #9787F3;
    margin-right: 1rem;
}
.processSection .header h4 .line{
    position: relative;
    left: -20px;
    height: 2px;
    width: 50%;
    background-color: #2D274B;
    margin: auto 5px;

}
.contentGrid{
    height: 100%;
    max-height: 800px;
    margin-top: 4rem;
}

.contentGrid .row1{
    height: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
   
}
.contentGrid .row3{
    height: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.row2 img{
    width: 100%;
    height: auto;
    margin: auto;
}

.row3 .col1, .row3 .col3,
.row1 .col2, .row1 .col4
{
    /* border: 1px solid #ccc; */
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 500px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
     /* background-color: aqua; */
   
}
.row1 .col2, .row1 .col4
{
    align-items: end;
}
.row1 .col2, .row1 .col4
{
    align-items: start;
}

.row3 .col1 video, .row3 .col3 video,
.row1 .col2 video, .row1 .col4 video{
    /* border: 1px solid darkblue; */
    width: 200px;
    height: 200px;
    max-width: 300px;
    max-height: 500px;
}

.row1 .col1, .row1 .col3,
.row3 .col2, .row3 .col4{
    font-family: "Lato";
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    height: 90%;
    width: 70%;
    max-height: 200px;
    margin: auto;
}
.row1 .col1 , .row1 .col3{
   display: flex;
   align-items: flex-end;
}