.userStatsOne-section{
    background-color: var(--thin-light-background-color);
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

/* .userStatsOne-section .statsContainer{
   
   
} */

.userStatsOne-section h1{

    font-size: 2.5rem;
    font-family: "Lato";
    font-weight: 900;

}